.main {
    padding: 10px;
}

h1 {
    padding-top: 20px;
}

.search {
    font-size: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh; /* cover 100% of the viewport height */
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

#error {
    margin-right: 300px;
}

#new-form {
    margin-right: 300px;
}

#new-form-submit {
    margin-top: 10px;
}

#edit-form {
    margin-right: 300px;
}

#edit-form-submit {
    margin-top: 10px;
}
