{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Entry
{% endblock %}

{% block body %}
    <h1>Create New Page</h1>

    <div id="new-form">
        {% if exists == True %}
        <div class="alert alert-danger" role="alert">
            "{{ entry_title }}" page already exists. Click <a href="wiki/{{ entry_title }}" class="alert-link">here</a> to
            view or edit this entry.
        </div>
        {% endif %}

        <form action="{% url 'new' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input id="new-form-submit" class="btn btn-primary btn-sm" type="submit">
        </form>
    </div>
{% endblock %}